
$fonts: Roboto;
.card-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-style {
  border-radius: 5px;
  font-family: $fonts;
  margin: 5px auto;
  width: 185px;
  display: inline-block;
  vertical-align: middle;
}

.mat-card-title {
  align-content: center;
  alignment: center;
}
.board-spacer {
  flex: 1 1 auto;
}
